@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  background: #e3e3e3;
  color: #333;
  font-family: 'Satisfy', cursive;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 50px auto;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 5px solid #ddd;
}

nav a {
  margin-left: 12px;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 80px;
  color: #777;
  border-top: 4px solid #eaeaea;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: line-through;
}